img {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.left{
    float: left;
}

.right {
    float: right;
}

.center-text {
    text-align: center;
}

.edge {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.center {
    margin-left: auto;
    margin-right: auto
}

.margin {
    margin-left: 50px;
    
    margin-bottom: 50px;
    margin-right: 50px;
}

.primary {
    background-color: #000000ff;
}

.secondary {
    background-color: #040022bb;
}

.tertiary {
    background-color: #151515c1;
}

body {
    color: white;
    background-color: black;
}

.alert {
    margin: 10px;
}

.none {
    width: 0%;
}

.logo {
    width: 97.5px;
    height: 78.5px;
}